<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Web Components Demo: Nested</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- add our demo components -->
    <script src="nested/parent.js"></script>
    <script src="nested/child.js"></script>
  </head>
  <body>
    <h1>Web Components Demo: Nested</h1>
    <parent-wc>
      <child-wc></child-wc>
      <child-wc></child-wc>
      <child-wc></child-wc>
      <child-wc></child-wc>
      <child-wc></child-wc>
    </parent-wc>
  </body>
</html>